*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9faff;
}

/* root css style */
:root{
    --text-color: #25282B;
    --text-color-two: #FDC435;
    --text-color-three: #333333;
    --text-color-four: #828282;
    --text-color-five: black;
    --card-pera-color: #828282;
}
/* root css style */
/* shared style */
.container{
    max-width: 1320px;
    margin:  auto;
}
 .flex{
    display: flex;
 }
.playfair{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.roboto-normal{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.height{
    height: 100vh;
}
/* header styles */
/* navbar style */
.nav-container{
    justify-content: space-between;
    margin-top: 16px;
}
.nav-links{
    align-items: center;
    gap: 48px;
}
.nav-links ul{
    list-style: none;
}
.nav-item{
    text-decoration: none;
    color: var(--text-color);
}
/* navbar style */
/* hero style */
.hero-container{
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    width: 486px;
}
.hero-title{
    text-transform: uppercase;
    color: var(--text-color-two);
    font-size: 20px;
    padding: 55px 0px 12px 0px;
}
.hero-heading{
    color: var(--text-color-three);
    font-size: 64px;
    line-height: 120%;
}
.hero-pera{
    color: var(--text-color-four);
    font-size: 25px;
    padding: 32px 0px;
    line-height: 36px;
}
.primary-btn,
.secondary-btn{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 8px;
}
.primary-btn{
    background-color: var(--text-color-two);
    padding: 10px 24px;
}
.secondary-btn{
    border: 2px solid var(--text-color-five);
    padding: 8px 22px;
    border: 2px solid var(--text-color-five);
    margin-left: 12px;
}
.hero-img img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
/* hero style */
/* header styles */
/* main part start */
.project-title{
    font-size: 48px;
    text-align: center;
    color: var(--text-color);
}
.project > .project-title::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color-two);
    height: 4px;
    width: 100px;
    bottom: -120px;
    border-radius: 2px;
}
.project-container{
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 980px;
    height: 524px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 30px;
    overflow: hidden;
}
.project-container:nth-child(even) .project-content{
    order: 1;
}
.project-content{
    width: 496px;
    padding: 0px 50px;
}
.project-img{
    width: 496px;
    height: 100%;
}
.project-heading{
    font-size: 40px;
    color: var(--text-color);
}
.project-pera{
    font-size: 18px;
    color: var(--card-pera-color);
    margin: 30px 0px;
}
.project-btn{
    padding: 8px 24px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 40px;
    border: 2px solid black;
}
/* contact form */
.contact > .project-title::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color-two);
    height: 4px;
    width: 100px;
    bottom: -2070px;
    border-radius: 2px;
}
.form-container{
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    margin-top: 80px;
}
.form-container label{
    font-size: 16px;
    color: #25282B;
    padding-bottom: 8px;
}
.form-container input,
.form-container textarea{
    padding: 12px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 24px;
}
.form-container textarea{
    resize: vertical;
}
.footer-btn{
    text-align: right;
}
.footer-social-icon{
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer-pera{
    text-align: center;
    font-size: 16px;
    color: #828282;
}
.footer-shape{
    width: 100%;
}
/* main part end */
